body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* header{
    position: relative;
} */

#logo {
    /* display: flex;
    align-items: center;
    justify-content: left; */
    color: black;
    font-size: 25pt;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
    padding-top: 10pt;
    padding-bottom: 10pt;
    justify-content: center;
}

#nav-sm {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.sm-links {
    color: black;
}

.nav-items {
    text-decoration: none;
    font-size: 12pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

#nav-links a:hover {
    color: #ef6c57;
}


#slide-container {
    /* background-image: url(../img/hero_bg_1.jpg.webp); */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8)), url('../img/hero_bg_1.jpg.webp');
    height: 10vh;
    position: relative;
    background-size: cover;
    padding-top: 600px;
    animation: bgChange 20s linear infinite;
}

/* @keyframes bgChange {
    0% {
        background-image: url(../img/hero_bg_1.jpg.webp);
    }
    50% {
        background-image: url(../img/hero_bg_2.jpg.webp);
    }
} */

#slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
}

#slide-text h1, p {
    color: white;
    font-family: poppins;
}

#slide-text h1 {
    font-size: 4rem;
    height: 5pt;
    font-weight: lighter;
}

#slide-text p {
    padding-top: 20px;
    text-align: center;
}

#slide-button {
    border: 2px solid transparent;
    background-color: #ef6c57;
    padding: 10px 15px;
    margin-top: 30px;
}

#slide-button:hover{
    background-color: #797479;
}

#slide-button a {
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.acts {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    position: relative;
    z-index: 1;
    padding: 0 4rem;
}

.images  {
    margin: auto 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;  
} 
 
.images img {
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.images div:hover img {
    transform: scale(1.03); /* Zoom effect on hover */
}

.images h3 {
    position: absolute;
    text-align: center;
    bottom: 10px;
    margin-left: 50px;
    color: white;
    /* background: rgba(0, 0, 0, 0.5); */
}

.packages {
    padding-left: 100px;
} 
.packages {
    padding-top: 8rem;
    margin: auto 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
}

.packages h3 {
    color: rgba(0, 0, 0, 0.863);
    /* text-align: center; */
}
.packages p {
    color: rgba(0, 0, 0, 0.863);
    /* text-align: center; */
}

.packages img {
    align-items: center;
    padding-left: 60px;
}

.packages button {
    border: none;
    font-size: 16px;
}
.packages button a {
    text-decoration: none;
    color: #ef6c57;
}

#testimonial {
    background-color: #79747907;
    margin-top: 10rem;
}
/* .testimonial-section {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.testimonial-image img {
    max-width: 300px;
    border-radius: 10px;
}

.testimonial-text {
    margin-left: 20px;
}

.testimonial-text h2 {
    margin-top: 0;
}

.testimonial-text p {
    font-size: 1rem;
    color: #555;
} */

.testimonial-section {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 800px;
    margin: auto;
    /* padding: 20px; */
}

.testimonial-image img{
    max-width: 500px;
}

.testimonial-text {
    background-color: white;
}
.testimonial-text p {
    color: black;
}

#testimonial h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}